<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th style="min-width: 200;"></th>
      <th style="min-width: 200;">ETH/AIC</th>
      <th style="min-width: 200;">UZH/iRATS</th>
      <th style="min-width: 200;">Animal_death_date</th>
      <th style="min-width: 200;">Genotype_code</th>
      <th style="min-width: 200;">responsive functional measurements</th>
    </tr>
    <tr>
      <th style="min-width: 200;">Animal_id</th>
      <th style="min-width: 200;"></th>
      <th style="min-width: 200;"></th>
      <th style="min-width: 200;"></th>
      <th style="min-width: 200;"></th>
      <th style="min-width: 200;"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="min-width: 200;">45</th>
      <td>6258</td>
      <td>M5458</td>
      <td>2017-04-20 18:30:00</td>
      <td>datg</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">44</th>
      <td>6262</td>
      <td>M4836</td>
      <td>None</td>
      <td>eptg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">43</th>
      <td>6261</td>
      <td>M4835</td>
      <td>2017-04-09 18:35:00</td>
      <td>eptg</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">42</th>
      <td>6256</td>
      <td>M4729</td>
      <td>None</td>
      <td>epwt</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">41</th>
      <td>6255</td>
      <td>M4728</td>
      <td>None</td>
      <td>eptg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">40</th>
      <td>6254</td>
      <td>M4727</td>
      <td>None</td>
      <td>epwt</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">39</th>
      <td>5694</td>
      <td>M3574</td>
      <td>None</td>
      <td>eptg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">38</th>
      <td>5693</td>
      <td>M3573</td>
      <td>None</td>
      <td>epwt</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">37</th>
      <td>5692</td>
      <td>M3572</td>
      <td>None</td>
      <td>eptg</td>
      <td>1/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">36</th>
      <td>5700</td>
      <td>M3586</td>
      <td>None</td>
      <td>eptg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">35</th>
      <td>5699</td>
      <td>M3585</td>
      <td>None</td>
      <td>eptg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">34</th>
      <td>5698</td>
      <td>M3584</td>
      <td>2017-04-19 15:00:00</td>
      <td>eptg</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">33</th>
      <td>5691</td>
      <td>M3122</td>
      <td>3017-03-31 00:00:00</td>
      <td>eptg</td>
      <td>6/6</td>
    </tr>
    <tr>
      <th style="min-width: 200;">32</th>
      <td>5690</td>
      <td>M3583</td>
      <td>3017-03-31 00:00:00</td>
      <td>eptg</td>
      <td>6/6</td>
    </tr>
    <tr>
      <th style="min-width: 200;">31</th>
      <td>5689</td>
      <td>M3582</td>
      <td>3017-03-31 00:00:00</td>
      <td>eptg</td>
      <td>6/6</td>
    </tr>
    <tr>
      <th style="min-width: 200;">30</th>
      <td>5706</td>
      <td>M3589</td>
      <td>3017-03-31 00:00:00</td>
      <td>eptg</td>
      <td>5/5</td>
    </tr>
    <tr>
      <th style="min-width: 200;">29</th>
      <td>5705</td>
      <td>M3588</td>
      <td>3017-03-31 00:00:00</td>
      <td>epwt</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">28</th>
      <td>5704</td>
      <td>M3587</td>
      <td>3017-03-31 00:00:00</td>
      <td>eptg</td>
      <td>0/5</td>
    </tr>
    <tr>
      <th style="min-width: 200;">27</th>
      <td>5703</td>
      <td>M3592</td>
      <td>3017-03-31 00:00:00</td>
      <td>eptg</td>
      <td>0/3</td>
    </tr>
    <tr>
      <th style="min-width: 200;">26</th>
      <td>5702</td>
      <td>M3591</td>
      <td>3017-03-31 00:00:00</td>
      <td>epwt</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">25</th>
      <td>5701</td>
      <td>M3590</td>
      <td>3017-03-31 00:00:00</td>
      <td>epwt</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">24</th>
      <td>5697</td>
      <td>M3125</td>
      <td>2017-01-24 00:00:00</td>
      <td>eptg</td>
      <td>0/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">23</th>
      <td>5696</td>
      <td>M3124</td>
      <td>2017-01-27 00:00:00</td>
      <td>eptg</td>
      <td>0/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">22</th>
      <td>5695</td>
      <td>M3123</td>
      <td>2017-01-16 00:00:00</td>
      <td>eptg</td>
      <td>1/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">21</th>
      <td>5688</td>
      <td>M2910</td>
      <td>2017-01-23 00:00:00</td>
      <td>eptg</td>
      <td>1/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">20</th>
      <td>5687</td>
      <td>M2909</td>
      <td>2017-01-23 00:00:00</td>
      <td>eptg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">19</th>
      <td>5686</td>
      <td>M2907</td>
      <td>2017-01-23 00:00:00</td>
      <td>eptg</td>
      <td>0/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">18</th>
      <td>5685</td>
      <td>M2892</td>
      <td>2017-05-23 19:00:00</td>
      <td>datg</td>
      <td>0/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">17</th>
      <td>5684</td>
      <td>M2891</td>
      <td>None</td>
      <td>datg</td>
      <td>0/0</td>
    </tr>
    <tr>
      <th style="min-width: 200;">16</th>
      <td>5683</td>
      <td>M2890</td>
      <td>None</td>
      <td>datg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">15</th>
      <td>5682</td>
      <td>M2889</td>
      <td>2017-05-13 17:25:00</td>
      <td>datg</td>
      <td>2/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">14</th>
      <td>5681</td>
      <td>M2898</td>
      <td>2016-12-21 00:00:00</td>
      <td>datg</td>
      <td>0/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">10</th>
      <td>5676</td>
      <td>M2912</td>
      <td>2017-01-13 00:00:00</td>
      <td>eptg</td>
      <td>0/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">9</th>
      <td>5671</td>
      <td>M2888</td>
      <td>2017-01-13 00:00:00</td>
      <td>epwt</td>
      <td>0/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">8</th>
      <td>5670</td>
      <td>M2886</td>
      <td>2016-11-04 00:00:00</td>
      <td>eptg</td>
      <td>0/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">7</th>
      <td>5669</td>
      <td>M2885</td>
      <td>2016-11-04 00:00:00</td>
      <td>eptg</td>
      <td>0/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">6</th>
      <td>5675</td>
      <td>M2906</td>
      <td>2017-02-13 15:00:00</td>
      <td>eptg</td>
      <td>0/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">5</th>
      <td>5674</td>
      <td>M2905</td>
      <td>2017-02-03 00:00:00</td>
      <td>eptg</td>
      <td>0/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">4</th>
      <td>5673</td>
      <td>M2904</td>
      <td>None</td>
      <td>eptg</td>
      <td>0/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">3</th>
      <td>5672</td>
      <td>M2903</td>
      <td>2016-11-24 00:00:00</td>
      <td>epwt</td>
      <td>1/1</td>
    </tr>
    <tr>
      <th style="min-width: 200;">2</th>
      <td>5668</td>
      <td>M2884</td>
      <td>None</td>
      <td>eptg</td>
      <td>0/2</td>
    </tr>
    <tr>
      <th style="min-width: 200;">1</th>
      <td>5667</td>
      <td>M2883</td>
      <td>None</td>
      <td>eptg</td>
      <td>0/2</td>
    </tr>
  </tbody>
</table>